# LAB 3.6: TẠO VÀ PHÂN TÍCH PIVOT TABLE
1. Tạo Pivot Table từ DataFrame stocks với date làm chỉ mục, symbol làm cột, và giá 
trị trung bình của close làm giá trị

In [1]:
import pandas as pd
stocks1 = pd.read_csv('C:/17A1DHKL/LAB3/DATA/stocks1.csv')
stocks2 = pd.read_csv('C:/17A1DHKL/LAB3/DATA/stocks2.csv')
stocks = pd.concat([stocks1, stocks2], ignore_index=True)
# Tạo Pivot Table với date làm chỉ mục, symbol làm cột, và giá trị trung bình close
pivot_table = stocks.pivot_table(
    index='date', 
    columns='symbol', 
    values='close', 
    aggfunc='mean')
print(pivot_table)

symbol      AAPL     AMZN      FB     GOOG    TSLA
date
01-03-19  174.97  1671.73  162.28  1140.99  294.79
04-03-19  175.85  1696.17  167.37  1147.80  285.36
05-03-19  175.53  1692.43  171.26  1162.03  276.54
06-03-19  174.52  1668.95  172.51  1157.86  276.24
07-03-19  172.50  1625.95  169.13  1143.30  276.59

2. Thêm một cột tính tổng volume giao dịch cho mỗi mã chứng khoán (symbol)

In [2]:
# Tính tổng volume giao dịch cho mỗi symbol
total_volume = stocks.groupby('symbol')['volume'].sum()
# Thêm cột tổng volume vào Pivot Table
pivot_table['Total Volume'] = total_volume
print(pivot_table)

symbol      AAPL     AMZN      FB     GOOG    TSLA  Total Volume
date
01-03-19  174.97  1671.73  162.28  1140.99  294.79           NaN
04-03-19  175.85  1696.17  167.37  1147.80  285.36           NaN
05-03-19  175.53  1692.43  171.26  1162.03  276.54           NaN
06-03-19  174.52  1668.95  172.51  1157.86  276.24           NaN
07-03-19  172.50  1625.95  169.13  1143.30  276.59           NaN

3. Sắp xếp Pivot Table dựa trên tổng volume giao dịch, từ cao xuống thấp và hiển thị kết quả cho 5 mã chứng khoán có tổng volume giao dịch cao nhất

In [3]:
sorted_pivot_table = pivot_table.sort_values(by='Total Volume', ascending=False)
print(sorted_pivot_table.head())

symbol      AAPL     AMZN      FB     GOOG    TSLA  Total Volume
date
01-03-19  174.97  1671.73  162.28  1140.99  294.79           NaN
04-03-19  175.85  1696.17  167.37  1147.80  285.36           NaN
05-03-19  175.53  1692.43  171.26  1162.03  276.54           NaN
06-03-19  174.52  1668.95  172.51  1157.86  276.24           NaN
07-03-19  172.50  1625.95  169.13  1143.30  276.59           NaN